@import "../../styling/Variables";

.musicPage {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin-top: 20px;
	align-self: center;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;

	.blocks {
		width: calc(25% - 40px);
		margin: 0 10px 20px 10px;
		padding: 20px;
		border-radius: 10px;
		background-color: rgba($darkPurple, 0.7);
	}
}

/* Tablets */
@media only screen and (max-width: 800px) {
	.musicPage {
		.blocks {
			width: calc(50% - 60px);
		}
	}
}

/* Mobile */
@media only screen and (max-width: 750px), (max-height: 500px) {
	.musicPage {
		.blocks {
			width: calc(100% - 60px);
		}
	}
}