.wrapper {
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;

	.menuItems {
		display: inherit;
		height: auto;
		width: calc(100% - 40px);
		max-width: 800px;
		margin: auto;
		padding: 0 20px;
		justify-self: center;
		grid-template-columns: repeat(6, auto);
		grid-template-rows: repeat(5, auto);

		.menuItem {
			display: block;
			border-radius: 50%;
			text-align: center;

			img {
				width: 100%;
				max-width: 200px;
			}

			&.code {
				grid-column: 1 / span 2;
				grid-row: 2 /span 2;
			}

			&.languages {
				grid-column: 3 / span 2;
				grid-row: 1 /span 2;
			}

			&.music {
				grid-column: 5 / span 2;
				grid-row: 2 /span 2;
			}

			&.profile {
				grid-column: 3 / span 2;
				grid-row: 3 /span 2;

				img {
					max-width: 250px;
				}
			}

			&.hobbies {
				grid-column: 5 / span 2;
				grid-row: 4 /span 2;
			}

			&.skills {
				grid-column: 1 / span 2;
				grid-row: 4 /span 2;
			}
		}
	}
}

/* Mobile */
@media only screen and (max-width: 750px), (max-height: 500px) {
	.menuItems {
		width: calc(100% - 20px);
		padding: 0 10px;
		grid-template-rows: repeat(10, auto);

		.menuItem {
			img {
				max-width: 100px;
			}

			&.profile {

				img {
					max-width: 150px;
				}
			}
		}
	}
}