.menuItems {
	position: relative;
	width: 100%;
	height: 100%;

	.code {
		position: absolute;
		left: 25%;
		top: 50%;
		transform: translate(-100%, -60%);
	}

	.languages {
		position: absolute;
		left: 50%;
		top: 25%;
		transform: translate(-50%, -75%);
	}

	.music {
		position: absolute;
		right: 25%;
		top: 50%;
		transform: translate(100%, -60%);
	}

	.profile {
		position: absolute;
		left: 50%;
		top: 55%;
		transform: translate(-50%, -50%);
	}

	.hobbies {
		position: absolute;
		right: 40%;
		top: 85%;
		transform: translate(100%, -50%);
	}

	.skills {
		position: absolute;
		left: 40%;
		top: 85%;
		transform: translate(-100%, -50%);
	}
}

/* Tablets */
@media only screen and (max-width: 800px) {
	.menuItem {
		max-width: 150px;
	}

	.profile {
		max-width: 200px;
	}
}

/* Mobile */
@media only screen and (max-width: 750px), (max-height: 500px){
	.menuItem {
		max-width: 80px;
	}

	.profile {
		max-width: 130px;
	}
}

/* small Mobile */
@media only screen and (max-width: 350px){
	.menuItem {
		max-width: 70px;
	}

	.profile {
		max-width: 110px;
	}
}