@import "../../styling/Variables";

.codePage {
	display: grid;
	margin: 20px 20px 20px;
	column-gap: 20px;
	row-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);

	.blocks {
		width: calc(100% - 40px);
		padding: 20px;
		border-radius: 10px;
		background-color: rgba($purple, 0.7);
	}
}

/* Mobile */
@media only screen and (max-width: 750px), (max-height: 500px) {
	.codePage {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}