@import "../../Variables";

.home {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);

	img{
		width: 100%;
		max-width: 200px;
	}
}

.hobbiesPage {
	display: flex;
	width: 100%;
	max-width: 1200px;
	align-self: center;
	flex-wrap: wrap;
	margin-top: 220px;
	justify-content: space-around;

	.blocks {
		width: calc(25% - 40px);
		margin: 0 10px 20px 10px;
		padding: 20px;
		border-radius: 10px;
		background-color: rgba($lightViolet, 0.7);
	}
}

/* Tablets */
@media only screen and (max-width: 800px) {
	.codePage {
		.blocks {
			width: calc(50% - 40px);
		}
	}
}