@import "../../styling/Variables";

.hobbiesPage {
	display: grid;
	margin: 20px 20px 20px;
	row-gap: 20px;
	justify-content: center;
	grid-template-columns: repeat(1, 0.3fr);

	.block {
		width: calc(100% - 40px);
		padding: 20px;
		border-radius: 10px;
		background-color: rgba($lightViolet, 0.7);
	}
}

/* Mobile */
@media only screen and (max-width: 750px), (max-height: 500px) {
	.hobbiesPage {
		grid-template-columns: repeat(1, 1fr);
	}
}