@import "../../styling/Variables";

.home {
	display: grid;
	margin: 20px;
	align-items: center;
	justify-items: center;

	.homeWrapper {
		position: relative;
		max-height: 200px;
		max-width: 200px;

		img {
			width: 100%;
			max-width: 200px;
		}

		&:hover {
			.homeOverlay {
				opacity: 1;
			}
		}

		.homeOverlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			opacity: 0;
			z-index: 1;
			transition: .5s ease;
			background: $gray;

			h1 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
			}
		}
	}
}