@import "./styling/Variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html, body {
	width: 100%;
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;

	h1 {
		font-size: 1.25rem;
	}

	h3 {
		font-size: 1rem;
		font-weight: normal;
	}

	p {
		font-size: 0.75rem;
	}

	h1, h3, p {
		margin: 0;
		color: $white;
	}

	ul{
		margin: 10px 0 0 10px;
		padding-left: 10px;
		color: $white;
	}

	#app {
		display: table;
		width: 100%;
		height: 100%;
		background-size: cover;
		background: url("./assets/BackgroundUniverse.jpg") repeat center center fixed $black;
	}
}