html, body {
	width: 100%;
	height: 100%;
	margin: 0;

	#app {
		display: grid;
		width: 100%;
		height: 100%;
		background-size: cover;
		background: url("./././assets/BackgroundUniverse.jpg") no-repeat center center fixed;
	}
}