@import "../../Variables";

.home {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);

	img{
		width: 100%;
		max-width: 200px;
	}
}

.languagesPage {
	display: flex;
	width: 100%;
	max-width: 1200px;
	align-self: center;
	justify-content: center;

	.blocks {
		width: 100%;
		max-width: 200px;
		height: 200px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: rgba($lightPurple, 0.7);

		h3, ul{
			max-width: 100px;
			text-align: center;
		}
	}
}