@import "../../styling/Variables";

.languagesPage {
	display: grid;
	margin: 20px 20px 20px;
	align-self: center;
	justify-content: center;

	.block {
		display: inherit;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		align-items: center;
		justify-items: center;
		background-color: rgba($lightPurple, 0.7);
	}
}